{% block content %}
    {% for employee in employees %}
        {% if employee is defined %}
            {% if employee.id is defined and employee.fullName is defined and  employee.position is defined %}
            <ul class="border-2 rounded border-transparent">
                <li class="rounded-lg">
                    <div class=" border border-black rounded-md py-2 my-2 flex flex-row items-center">
                        <span class="border-r border-black w-20 text-center  p-2">{{ employee.id }} </span>
                        <span class="border-r border-black w-1/4 pl-4 p-2">{{ employee.fullName }} </span>
                        <span class="border-r border-black w-1/4 pl-4 p-2">{{ employee.position }} </span>
                        <p class="w-auto pl-4">
                            {% if employee.subordinates is not null %}
                                <a class="bg-green-500 text-white border border-green-500 rounded-md m-2 px-4 py-2"
                                   href="{{ url ~ ',' ~ employee.id }}"> Show subordinates</a>
                            {% endif %}
                            <a class="bg-white text-black rounded-md m-2 border border-black px-4 py-2"
                               href="{{ url('app_index') }}"> Hide all </a>
                        </p>
                    </div>
                    <div class="shadow-inner pl-12">
                        {% if employee.subordinates is not empty  %}
                            {{ include('employee/tree.html.twig',
                                {'employees': employee.subordinates,
                                    'url': url
                                    })
                            }}
                        {% endif %}
                    </div>
                </li>
             </ul>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}