<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                darkMode: 'class'
            }
        </script>
    </head>
    <body class="">
    {% set pageTitle = title|default('Default Title') %}
    <h1 class="text-2xl container mx-auto my-10 text-center">{{ pageTitle }}</h1>
    <ul class="container mx-auto my-4 flex">
        <li class="mx-4 py border-b-2 border-transparent hover:border-blue-400 hover:text-blue-400">
            <a href="{{ url('app_index') }}"> Home </a></li>
        <li class="mx-4 py border-b-2 border-transparent hover:border-blue-400 hover:text-blue-400">
            <a href="{{ url('app_employees_table') }}"> Employees table </a></li>
        <li class="mx-4 py border-b-2 border-transparent hover:border-blue-400 hover:text-blue-400">
            <a href="{{ url('employee_new') }}"> Create New Employee </a></li>
        <li class="mx-4 py border-b-2 border-transparent hover:border-blue-400 hover:text-blue-400">
            <a href="{{ url('app_login') }}"> Login </a></li>
        <li class="mx-4 py border-b-2 border-transparent hover:border-blue-400 hover:text-blue-400">
            <a href="{{ url('app_register') }}"> Regin </a></li>
    </ul>
        {% block content %}{% endblock %}
    </body>
</html>
